.bang-12{
    font-style: normal;
    font-family: "Poppins", sans-serif;
}
#section6{
    font-style: normal;
}
.lore-2{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.lore-2 h5{
    text-align: center;
    padding-top: 170px;
    color: white;
}
footer{
    height: 950px;
}
.foo-12{
    display: flex;
    justify-content: space-around;
}
.ter-2{
    width: 250px;
    height: 100px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}
footer i{
    color: orange;
   font-size: 60px;

}
.our{
    background-color: white;
    font-style: normal;
   height: 520px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.comp{
    width: 250px;
    height: 500px;
}
footer ul{
    list-style: none;
}
footer li{
    padding-bottom: 20px;
}
footer img{
    width: 70px;
    height: 50px;
}
.comp{
    font-family: "Poppins", sans-serif;
}
.comp h5{
    font-size: medium;
    font-weight: 600;
}
.deli{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: white;
}
.very-4{
    height: 200px;
    width: 400px;
}


.fuck{
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: white;
}
.fuck ul{
    padding-top: 13px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.fuck li{
    color: gray;
}
.fuck li:hover{
    color: orange;
}